:root{
--navy: #3f3b6c;
--purple: #624F82;
--lila: #9F73AB;
--blue: #A3C7D6;
--beige: #ECC488;
--orange: #CC7351;
--gris: #9e9e9e;
--blue: #0097a7;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color: white;
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 8%, rgba(89,89,89,1) 21%, rgba(89,89,89,1) 32%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(8%, rgba(44,44,44,1)), color-stop(21%, rgba(89,89,89,1)), color-stop(32%, rgba(89,89,89,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 8%, rgba(89,89,89,1) 21%, rgba(89,89,89,1) 32%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 8%, rgba(89,89,89,1) 21%, rgba(89,89,89,1) 32%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 8%, rgba(89,89,89,1) 21%, rgba(89,89,89,1) 32%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 8%, rgba(89,89,89,1) 21%, rgba(89,89,89,1) 32%, rgba(71,71,71,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
}
@media (min-width: 769px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}
main{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
@media (min-width: 769px) {
    main{
        max-width: 1650px;
        margin-top: 75px;

    }
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%
}
.menu{
    color: white;
    margin: 10px auto;
    border: 2px solid white;
    border-radius: 10px;
    width: 90%;
    padding-top: 10px;
}
@media (min-width: 769px) {
    .menu{
        height: 50px;
        background: black;
        opacity: .8;
        position: fixed;
        padding: 15px 0;
        font-size: 20px
    }
}
.menu a{
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-template-areas: 
    "none none"
    "none none"
    "centro centro";
}
@media (min-width: 769px) {
    .grid{
       display:flex;
       flex-direction: row;
       justify-content: space-around;
       align-items: center;
    }
    .grid a:hover{
        font-size: 50px;
    }
}
.center{
    grid-area: centro;
}
a{
    text-decoration: none;
    color: white;
    padding-bottom: 15px;
}
.home{

    color: white;
    font-family: 'Finlandica', sans-serif;
}
.home p{
    
    font-size: 150%;
}
.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}
.location{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: center;
}
.quick{
    font-family: 'Quicksand', sans-serif;
}
.shadow{
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
}
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Alegreya', serif;
}
@media (min-width: 769px) {
    .presentation{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-bottom: 100px;
    }
    .presentation p{
        font-size: 25px;
    }
}
.me{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
.pro fieldset{
    border: 2px solid white;
    border-radius: 20px;
    text-align:start;
}
.pro legend{
    margin-left: 30px;
}
.skill{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 20px auto 50px auto;
}
.skill img{
    width: 100px;
    height: 100px;
}
@media (min-width: 769px) {
  .skill img{
    width: 250px;
    height: 250px;
  }
}
.proyect{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.proyect a:hover{
    text-decoration: underline;
}
.px{
    font-size: 20px;
}
.rect{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 769px) {
 .photo{
    flex-direction: row;
    justify-content: space-evenly;
 } 
}
.free{
    max-width: 370px;
    border-radius: 15px;
}
@media (min-width: 769px) {
 .free{
    max-width: 800px;
 }
 .free:hover{
    max-width: 1000px;
 }
}
.qr{
    max-width: 50%;
    border-radius: 15px;
}
@media (min-width: 769px) {
 .qr{
    max-width: 400px;
 } 
 .qr:hover{
    max-width: 600px;
 }
}
.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 769px) {
 .photo{
    flex-direction: row;
    justify-content: space-evenly;
 } 
}
.free{
    max-width: 370px;
    border-radius: 15px;
}
@media (min-width: 769px) {
 .free{
    max-width: 800px;
 } 
}
.qr{
    max-width: 50%;
    border-radius: 15px;
}
@media (min-width: 769px) {
 .qr{
    max-width: 400px;
 } 
}
.social1{
    display: grid;
    grid-template-columns: 33% 33% 33%;
} 
.social2{
    display: grid;
    grid-template-columns: 60% 0%;
    margin-top: 50px;

}
@media (min-width: 769px) {
 .social2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px 250px;
 } 
}
.buttom{
    background-color: grey;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid white;
}
.buttom:hover{
    border: 5px solid var(--blue);
}
.buttom a{
    color: white;
}
.buttom a:hover{
    color: var(--blue);
}
.buttom svg{
    stroke: white;
}
.buttom svg:hover{
    stroke: var(--blue);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario{

    padding: 20px;
    border-radius: 10px;
    color: white;
}
@media (min-width: 769px) {
    .formulario{
    height: 675px;
    width: 500px;
    margin-bottom: 100px;
    }
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.campo label{
    display: block;
    font-weight: bold;
    margin: 5px 0;
}
.input-text{
    width: 90%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: white;
    border-bottom: 4px solid var(--gris);
}
@media (min-width: 769px) {
 .row{
    display: flex;
    justify-content: space-between;
 } 
 .row .input-text{
    width: 75%;
 }
}
.w90{
    width: 93%; 
}
.boton{
    background-color: white;
    color: black;
    padding: 1rem 3rem;
    margin-top: 2rem;
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: none;
    width: 80%;
    text-align: center;
}
@media (min-width: 769px) {
    .boton{
        text-align: center;
        font-size: 100%;
        width: 150px;
        height: 50px;
    }
}
footer{
    text-align: center;
    margin-bottom: 1rem;

}