/**Globals**/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 18px;
  width: 100%;
  height: 100vh;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}
main {
  text-align: center;
  padding: 50px;
}

/**Usage**/
.hidden {
  display: none;
}
.visible {
  display: block;
}
.underline {
  text-decoration: underline;
}
.active {
  border-bottom: 2px solid white;
}

/**Menú header**/
.height {
  height: 100vh;
}

.head {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
}
.head img {
  max-width: 9vh;
  margin-left: 5rem;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 30px;
  margin-bottom: 10px;
}
.menu li {
  margin: 15px;
}
.menu a {
  text-decoration: none;
  color: white;
}
#menuNav .menu a:hover {
  text-decoration: underline;
  border-bottom: none;
}
.head_menu {
  padding: 10px 50px 30px 50px;
  height: 23vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  position: fixed;
  z-index: 999;
}

.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.h1_menu {
  margin: 30px 0 10px 0;
  color: white;
}
.img_menu {
  margin-bottom: 10px;
}
/**Menú footer**/
.footer {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
  height: 10%;
}
.footer a {
  color: white;
  filter: brightness(1.8);
  -webkit-filter: brightness(1.8);
  font-weight: 100;
}

.leftFooter {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.links {
  display: flex;
  flex-direction: row;
}
.links a {
  margin: 0 10px;
}
.links img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.copy {
  display: flex;
  flex-direction: row;
}
.copy p {
  color: white;
  font-size: 12px;
}
.copy img {
  margin: 0 12px;
}

/**Index**/
.index_background {
  background: url(../images/fondo4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -500px;
}
.index_main {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.index_card {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.index_logo {
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: 150px;
  aspect-ratio: 1;
}
.index_text {
  line-height: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 5rem;
  margin-right: 2rem;
}
.index_text img {
  margin-right: 5rem;
  width: 30rem;
  border-radius: 30%;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  -ms-border-radius: 30%;
  -o-border-radius: 30%;
}
.index_header {
  display: flex;
  flex-direction: row;
  margin-bottom: -40px;
}
.index_header p {
  margin-left: 5px;
}
.index_header img {
  max-width: 40px;
}

.index_section {
  line-height: 0;
}
.index_section .CI {
  font-size: 18px;
  text-align: left;
  margin-top: -20px;
  margin-left: 10rem;
  color: black;
  filter: brightness(0.5);
  font-weight: 200;
}

.index_title {
  font-size: 75px;
}
.index_title .WD {
  color: black;
}
.index_title .PR {
  margin-left: 20px;
}

.index_social {
  position: absolute;
  top: auto;
  left: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 15px;
  height: 591px;
}
.index_social a:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  cursor: pointer;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
.index_button {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index_a {
  margin-top: 20px;
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 15px 35px;
  font-size: 20px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

/**About me**/

/**Projects**/
.projects_body {
  background: url(../images/fondo3.jpg);
  background-size: cover;
  background-repeat: repeat-y;
}
.projects_main {
  padding-left: 0;
  padding-right: 0;
}
.projects_project {
  max-width: 80%;
  margin: 26vh auto 0 auto;
  padding: 3.5rem;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  display: flex;
  justify-content: center;
}

.projects_flex {
  display: flex;
  flex-direction: column;
}
.projects_photo {
  line-height: 0;
  transition: all 0.5s;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.projects_photo h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
}
.projects_photo p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
}
.projects_photo img {
  width: 100%;
  object-fit: cover;
  z-index: -2;
}
.projects_photo:hover h1 {
  color: white;
  z-index: 2;
}
.projects_photo:hover p {
  color: white;
  z-index: 2;
}
.projects_photo:hover img {
  filter: brightness(0.4);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  z-index: 1;
  -webkit-filter: brightness(0.4);
}
.projects_btn {
  background: none;
  border: none;
}

/**Contact**/
.contact_body {
  background: url(../images/fondo5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.contact_head_menu {
  height: 12vh;
  padding: 10px 50px 30px 50px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  position: fixed;
  z-index: 999;
}
.contact_main {
  height: 90%;
}
.contact_primary {
  max-width: 70%;
  margin: 12vh auto;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_form {
  width: 80%;
  margin: 3rem;
}
.contact_form legend {
  text-align: left;
  color: white;
}
.contact_country {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact_data_country {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 230px;
}
.contact_data1,
.contact_data2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.contact_data3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contact_data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact_data label,
.contact_country label {
  color: white;
}
.contact_data input {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: white;
}
.contact_data_country input {
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: white;
}
.contact_data_country select {
  border-radius: 10px 0 0 10px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.contact_data textarea {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 5px;
  color: white;
  width: 100%;
}
.contact_a {
  margin-top: 20px;
  text-decoration: none;
  padding: 15px 0;
  font-size: 20px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  color: black;

  background-color: #326fa4;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}
.contact_a_input {
  background-color: transparent;
  border: none;
  padding: 15px 35px;
}
/**MediaQuery**/
@media (max-width: 1500px) {
  .index_background {
    background-position-y: -200px;
  }
  .index_text img {
    width: 200px;
    margin-left: -15rem;
  }
  .index_social {
    left: 8vh;
    height: 456px;
  }
  .index_title {
    font-size: 60px;
  }
  .index_card {
    width: 75%;
  }
  .projects_project {
    max-width: 95%;
  }
  .projects_photo p {
    top: 80%;
  }
}
@media (max-width: 1000px) {
  .head {
    width: 100%;
  }
  .index_main {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
  }
  .index_social {
    flex-direction: row;
    height: 10%;
    width: 100%;
    position: inherit;
  }
  .index_card {
    margin-top: -200rem;
  }
  .index_text {
    flex-direction: column;
  }
  .projects_project {
    max-width: 80vh;
    flex-direction: column;
  }
  .projects_photo {
    margin-bottom: 20px;
  }
  .projects_photo img {
    max-width: 450px;
  }
}
@media (max-width: 900px) {
  .projects_project {
    max-width: 100%;
  }
  .projects_photo {
    margin-bottom: 20px;
  }
  .head_menu {
    height: 30vh;
    max-width: 100%;
  }
  .nav_menu {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .nav_menu img {
    margin-left: 0;
  }
  .menu {
    flex-direction: column;
  }
  .name {
    display: none;
  }
  .h1_menu {
    display: none;
  }
  .h3_menu {
    display: none;
  }
  .contact_body {
    background-position-x: -500px;
    background-repeat: repeat-y;
  }
  .contact_main {
    height: 90%;
    margin-bottom: 15rem;
  }
  .contact_primary {
    max-width: 100%;
    margin-bottom: 0;
  }
  .contact_data1,
  .contact_data2 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .contact_data,
  .contact_data_country {
    margin-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  .head_menu {
    max-width: 500px;
  }
  .h1_menu {
    display: none;
  }
  .h3_menu {
    display: none;
  }
  .contact_body {
    background-repeat: repeat-y;
    backdrop-filter: blur(5px);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/fondo5.jpg);
    background-position-x: -500px;
  }
  .contact_main {
    height: 75%;
    margin-bottom: 20rem;
  }
  .contact_primary {
    max-width: 50rem;
    margin-top: 1.9vh;
    background-color: transparent;
    border-radius: none;
    backdrop-filter: none;
    border: none;
    box-shadow: none;
  }
  .contact_form {
    width: 48rem;
  }
  .contact_data1,
  .contact_data2 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .contact_data,
  .contact_data_country {
    margin-bottom: 2rem;
  }
  .contact_data input::placeholder {
    color: white;
  }
  .contact_data3 textarea::placeholder {
    color: white;
  }
  .contact_data_country input::placeholder {
    color: white;
  }
}

/**KeyFrames**/
