<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,800;1,700&family=Roboto:ital,wght@1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/aboutMe.css" />
    <link rel="stylesheet" href="./css/projects.css" />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script src="./js/jQuery.js"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <title>About me</title>
  </head>
  <body class="about_background" onload="checkWidth()">
    <div class="height">
      <header class="head">
        <a href="./"> <img src="./images/logo_blanco.png" alt="logo" /></a>
      </header>
      <main class="about_main">
        <div class="menu_p2">
          <h1 class="h1_menu name orange">Aarón Curro Solla</h1>
          <h4 class="h3_menu">Web Developer & Programmer</h4>
        </div>
        <div class="about_card">
          <section class="about_me">
            <img src="./images/me.jpg" alt="img" />
            <div class="about_me_letters">
              <h2>Hello, my name is Aaron.</h2>
              <p>
                I am a last year web development student at Ies Ana Luisa
                Benitez in Gran Canaria. I have knowledge of Frontend and
                Backend technologies. I am passionate about computers, and have
                been so since I was young. I have an interest in both hardware
                and software. My goal is to become a full stack developer.
              </p>
              <div class="about_me_links">
                <div class="about_me_cv">
                  <h4>My CV:</h4>
                  <a
                    href="./files/Aaron_Curro-Resume.pdf"
                    download="Aaron_Curro-Resume.pdf"
                    class="about_resume"
                    >Resume</a
                  >
                </div>
                <div class="about_me_social">
                  <a
                    href="https://github.com/acurro9?tab=repositories"
                    target="_blank"
                  >
                    <img src="./images/icons/github.svg" alt="" />
                  </a>
                  <a
                    href="https://es.linkedin.com/in/aaron-curro-solla-714b73258"
                    target="_blank"
                  >
                    <img src="./images/icons/linkedin.svg" alt="" />
                  </a>
                  <a href="mailto:acurrodev@gmail.com" target="_blank">
                    <img src="./images/icons/mail.svg" alt="" />
                  </a>
                  <a href="https://twitter.com/Aaroncurro" target="_blank">
                    <img
                      src="./images/icons/twitter.png"
                      alt=""
                      class="twitter"
                    />
                  </a>
                </div>
              </div>
            </div>
          </section>
          <section class="about_skills">
            <div class="about_skills_title">
              <h2 class="about_skills_h1 orange">Skills & Tools:</h2>
              <p class="about_skills_p">
                The skills, tools and technologies I use to bring products to
                life:
              </p>
            </div>
            <!-- Skill for grid template -->
            <div class="about_skills_logos">
              <div class="about_skills_svg">
                <img src="./images/icons/html.svg" alt="" />
                <p class="about_skills_logos_p">HTML</p>
              </div>
              <div class="about_skills_svg">
                <img src="./images/icons/css.svg" alt="" />
                <p class="about_skills_logos_p">CSS</p>
              </div>
              <div class="about_skills_svg">
                <img src="./images/icons/js.svg" alt="" />
                <p class="about_skills_logos_p">JavaScript</p>
              </div>
              <div class="about_skills_svg">
                <img src="./images/icons/jquery.svg" alt="" />
                <p class="about_skills_logos_p">JQuery</p>
              </div>
              <div class="about_skills_svg">
                <img src="./images/icons/java.svg" alt="" />
                <p class="about_skills_logos_p">Java</p>
              </div>
              <div class="about_skills_svg">
                <img src="./images/icons/php.svg" alt="" />
                <p class="about_skills_logos_p">PHP</p>
              </div>
              <div class="about_skills_svg">
                <img src="./images/icons/git.svg" alt="" />
                <p class="about_skills_logos_p">Git</p>
              </div>
              <div class="about_skills_svg">
                <img src="./images/icons/githubM.svg" alt="" />
                <p class="about_skills_logos_p">Github</p>
              </div>
              <div class="about_skills_svg">
                <img src="./images/icons/responsive.svg" alt="" />
                <p class="about_skills_logos_p">Responsive Websites</p>
              </div>
              <div class="about_skills_svg">
                <img src="./images/icons/terminal.svg" alt="" />
                <p class="about_skills_logos_p">Command Line</p>
              </div>
              <div class="about_skills_svg">
                <img src="./images/icons/mysql.svg" alt="" />
                <p class="about_skills_logos_p">MySQL</p>
              </div>
              <div class="about_skills_svg">
                <img src="./images/icons/postgresSQL.svg" alt="" />
                <p class="about_skills_logos_p">PostgresSQL</p>
              </div>
            </div>
          </section>
          <section class="about_projects">
            <h2 class="about_projects_h1 orange">Projects:</h2>
            <div class="projects_projects" id="projects_project"></div>
          </section>

          <section class="about_widget">
            <h2 class="orange">Where to find me?</h2>
            <div class="about_widget_map">
              <div class="about_map">
                <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
                  <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
                  <a href="https://1map.com/es/map-embed">1 Map</a>
                </div>
              </div>
            </div>
          </section>

          <section class="about_contact">
            <h4 class="orange">Interested in collaborating with me?</h4>
            <p>
              I'm always open to discussing product development work or
              partnership opportunities.
            </p>
            <a class="about_contact_link" href="mailto:acurrodev@gmail.com">
              <img
                class="about_contact_img"
                src="./images/icons/chat.svg"
                alt=""
              />Start a conversation</a
            >
          </section>
        </div>
      </main>

      <footer class="footer">
        <div class="links">
          <a href="https://github.com/acurro9?tab=repositories" target="_blank">
            <img src="./images/icons/github.svg" alt="" />
          </a>
          <a
            href="https://es.linkedin.com/in/aaron-curro-solla-714b73258"
            target="_blank"
          >
            <img src="./images/icons/linkedin.svg" alt="" />
          </a>
          <a href="mailto:asbarxas.aaroncurro@gmail.com" target="_blank">
            <img src="./images/icons/mail.svg" alt="" />
          </a>
          <a href="https://twitter.com/acurrosolla" target="_blank">
            <img src="./images/icons/twitter.png" alt="" class="twitter" />
          </a>
        </div>
        <div class="copy">
          <img src="./images/icons/copyrigth.svg" alt="" />
          <p>All rigths reserved</p>
        </div>
      </footer>
    </div>
    <script src="./js/aboutMe.js"></script>
    <script src="./js/project.js"></script>
  </body>
</html>
